<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text" required>
  </div>
                 
  <div>
    <label for="username_box">Username</label>
      
    <input type="text" id="username_box" name="query_username" required>
  </div>

  <div>
    <label for="phone">Cell Number</label>
    <input type="tel" id="phone" name="query_phone"  required>
  </div>
         
  <div>
    <label for="student_box">Check this box you are a student:</label>
    <input id="student_box" name="query_student" type="checkbox">
  </div>
         
  <div>
    <label for="employed_box">Check this box you are a employed:</label>
    <input id="employed_box" name="query_employed" type="checkbox">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password" required>
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
